 .a {
                     display: flex;
 }

 .a div {
                     background-color: violet;
                     border: 2px solid;
                     padding: 1.6rem;
 }

 .a1 {
                     background-color: aqua;
                     display: flex;
                     order: 2;
 }

 .a2 {
                     background-color: aqua;
                     display: flex;
                     order: 3;
 }

 .a3 {
                     background-color: aqua;
                     display: flex;
                     order: 1;
 }