/* body { */
/* background-color: rgb(57, 16, 122); */
/* } */

.abcd {
                    display: flex;

}

.abcd {
                    background-color: black;
                    border: 1px soild;
                    padding: 1.6rem;
}


.item1 {
                    flex: 1;
}

.item2 {
                    flex
}